@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl;
  }
  /* adding base css on layer level for h1 and h2 text */
}

.Footer {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: gray;
  font-size: 12px;
}

.SearchFields {
  height: 30;
  background-color: white;
  border: 3px solid #f9fafb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
  max-width: 1024px;
  z-index: 3; /*to be on top of the images*/
}

.SearchItem {
  display: flex;
  align-items: center;
  z-index: 3; /*to be on top of the images*/
}

.inputField {
  margin-left: 10px; /* Adjusting spacing between icon and input/text */
  outline: none; /*to avoid having a box appearing around input text*/
  color: darkgray;
}

.searchText {
  margin-left: 10px; /* Adjusting spacing between icon and input/text */
  outline: none; /*to avoid having a box appearing around input text*/
  color: darkgray;
  cursor: pointer;
}

.searchIcons {
  color: grey;
  width: 30px;
  height: 30px;
}

.searchBtn {
  background-color: darkgray;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.date {
  color: grey;
  position: absolute;
  outline: none;
  top: 50px;
  left: -180px;
  z-index: 3; /*to be on top of the images*/
}

.table {
  top: 70px;
  left: -100px;
  position: relative;
  background-color: white;
  color: darkgray;
  border-radius: 5px;
  z-index: 3; /*to be on top of the images*/
}

.tableItem {
  display: flex;
  align-items: center;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.tableText {
  margin-right: 10px;
  outline: none;
  color: darkgray;
}

.personsCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.personsCounterBtn {
  width: 30px;
  height: 30px;
  border: 1px solid pink;
  background-color: lightgray;
}

.homeContainer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 1; /*to be on top of the image*/
}

.featuredImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /*to be behind the text*/
}

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  display: flex;
  width: 100%;
  max-width: 1024px;
  gap: 20px;
}

.listSearch {
  flex: 1;
  align-self: flex-start;
  padding: 10px;
  background-color: peachpuff;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  color: darkgrey;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.listResults {
  flex: 3;
}
